body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fafad2;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

#app {
  width: calc(100% - 16rem);
  margin: 0 8rem;
}

.todo__global-ui {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.todo__global-ui__service-worker {
  background: #fff740;
  border: 2px solid black;
  box-shadow: 1px 1px 3px 1px gray;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.5rem;
  z-index: 99;
}

.todo__global-ui__service-worker--description {
  margin-bottom: 0.5rem;
}

.todo__global-ui__service-worker--control-update {
  cursor: pointer;
  background: #bfb700;
  font-weight: bold;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 1px 1px 2px 1px black;
  padding: 0.35rem;
  display: block;
  margin: 0 auto;
}

.todo__input {
  margin: 2rem auto 0;
  max-width: 400px;

  position: relative;
  display: flex;
  flex-flow: column nowrap;

  background: #fff740;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.todo__input__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.todo__input__text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
}

.todo__input__control {
  position: absolute;
  display: flex;
  flex-flow: row-reverse nowrap;
  width: calc(100% - 3rem);
  right: 0;
  bottom: 0;
  padding: 0 1.5rem 1rem 1.5rem;
}

.todo__input__control--color,
.todo__list__item__control--color {
  position: relative;
}

.todo__input__control--color--select,
.todo__list__item__control--color--select {
  display: flex;
  flex-flow: row-reverse nowrap;

  position: absolute;
  right: 2rem;
  bottom: 0;

  border: 2px solid black;
  border-radius: 0.5rem;
}

.todo__input__control--color--select--button,
.todo__list__item__control--color--select--button {
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  cursor: pointer;
  border-left: 1px solid black;
}

.todo__input__control--color--select--button:first-child,
.todo__list__item__control--color--select--button:first-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

.todo__input__control--color--select--button:last-child,
.todo__list__item__control--color--select--button:last-child {
  border-radius: 0.5rem 0 0 0.5rem;
  border-left: unset;
}

.todo__list {
  padding-inline-start: unset;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem; */
  display: flex;
  flex-flow: row wrap;
  margin: 2rem auto 0;
  justify-content: space-between;
}

.todo__list__item {
  list-style-type: none;
  position: relative;

  flex: 0 1 calc(33% - 4rem);
  height: fit-content;

  background: #fff740;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

.todo__list__item__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.todo__list__item__control {
  position: absolute;
  display: flex;
  flex-flow: row-reverse nowrap;
  width: calc(100% - 3rem);
  right: 0;
  bottom: 0;
  padding: 0 1.5rem 1rem 1.5rem;
}

.material {
  box-shadow: 1px 1px 4px 1px #bfb700;
}

.editable {
  background: none;
  border: none;
}

.editable:focus-visible {
  outline: none;
}

.controlable {
  padding: 1.5rem 1.5rem 3.5rem;
}

.hidden {
  display: none;
}

.btn {
  border: none;
  cursor: pointer;
  background: none;
}

.btn > .fas {
  color: #403d00;
  /* text-shadow: #bfb700 1px 2px; */
  /* text-shadow: gray 1px 2px; */
}

.btn-size-1 {
  height: 2rem;
  width: 2rem;
  font-size: 1.6rem;
  padding: 0.2rem;
}

@media (max-width: 1280px) {
  #app {
    width: calc(100% - 4em);
    margin: 0 2rem;
  }

  .todo__list__item {
    flex: 0 1 calc(50% - 4rem);
  }
}

@media (max-width: 760px) {
  #app {
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
  }

  .todo__list__item {
    flex: 0 1 calc(100% - 2rem);
  }
}

.slide-in {
  animation-name: slide;
  animation-duration: 200ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

@keyframes slide {
  from {
    transform: translateY(30em);
  }
  to {
    transform: translateY(0);
  }
}
